* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #2B2B2B !important;
}

.hide-scroll {
  overflow: auto;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

/* CSS untuk komponen React Dropzone yang lebih cantik */
.dropzone {
  border: 2px dashed #3498db;
  padding: 4rem;
  text-align: center;
  background-color: #f9fafc;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  position: relative;
  overflow: hidden;
}

.dropzone:hover {
  background-color: #e6eaf0;
}

.dropzone:focus {
  outline: none;
}

.dropzone.active {
  background-color: #e1e6eb;
  border-color: #000;
}

.dropzone img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.dropzone p {
  font-size: 1rem;
  color: #666;
}

.dropzone .icon {
  font-size: 3rem;
  color: #3498db;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.dropzone:hover::before {
  opacity: 1;
}

.dropzone input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  cursor: pointer;
}
